<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="./static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="./static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="./static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./static/css/util.css">
	<link rel="stylesheet" type="text/css" href="./static/css/main.css">
	<link rel="stylesheet" type="text/css" href="./static/css/speed.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Seja Bem Vindo ao SpeedRasp!
					</span>
					
					
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="velocidade" id="velocidade">
						<span class="focus-input100"></span>
						<span class="label-input100">Velocidade Máxima Permitida</span>
					</div>
					<div class="slidecontainer mt-5">
						<label>Selecione a frequência:</label>
						<input type="range" min="1" max="500" name="myRange" value="250" class="slider" id="myRange">
				  		<p>Frequência: <span id="demo"></span></p>
					</div>
					

					<div class="container-login100-form-btn" id="buttonenviar" >
						<button type="button" name="enviar"  class="login100-form-btn" onclick="MaxFreq()">
							INICIAR
						</button>
					</div>
					
					<div class="container-login100-form-btn mt-2" id="buttonenviar" >
						<button type="button" name="enviar"  class="login100-form-btn" onclick="AtualizaVelocimetro('background1','velocimetro')">
							CRIAR VELOCIMETRO!
						</button>
					</div>
			
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							Siga-nos nas redes sociais!
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</form>

				<div id="background1" class="login100-more" style="background-image: url('./static/images/img1.jpg');"></div>

				<div id="velocimetro" style="display:none;">
					<div class="container-fluid">
						<div class="row">
							<div class="col-6">
								<canvas id="canvas">
									
								</canvas>				
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>


	<script type="text/javascript" src="./static/js/speed.js"></script>
	<script type="text/javascript" src="./static/js/ajax.js"></script>	
	 <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>	-->
<!--===============================================================================================-->
	<script src="./static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="./static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="./static/vendor/bootstrap/js/popper.js"></script>
	<script src="./static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="./static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="./static/vendor/daterangepicker/moment.min.js"></script>
	<script src="./static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="./static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="./static/js/main.js"></script>



</body>
</html>